{% extends "workplace/base_workplace.html" %}

{% load i18n %}

{% block main_section %}
  <section class="company-homepage-section">
    <div class="section-header">
      <h1>{% trans "Company Homepage" %}</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          {% if company_user.role != "owner" %}
            {% trans "Your current task" %}
            {% if task != None %}
              {% include "includes/task_card.html" %}
            {% else %}
              {% trans "You don't have tracking task now! Track new one on 'tasks' page" %}
            {% endif %}
          {% endif %}
        </div>
      </div>
      
      {% if company_user.role == "owner" or company_user.role == "manager" %}
        {% for message in messages %}
          <div class="row">
            <div class="alert alert-success">{{message}}</div>
          </div>
        {% endfor %}
      {% endif %}
      
    </div>
  <section>

  
{% endblock main_section %}
