{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include "includes/header.html" %}
<div class="hero-section">
    <h1>Приветствуем вас в мире бизнес-менеджмента</h1>
    <p>У нас вы найдете все необходимое для успешного управления бизнесом</p>
</div>

<div class="info-section">
    <h2>О нас</h2>
    <p>Наша компания специализируется на предоставлении услуг в области бизнес-менеджмента. Мы помогаем предприятиям оптимизировать свои бизнес-процессы, повышать эффективность и достигать новых высот.</p>
</div>
{% include "includes/footer.html" %}
{% endblock %}