{% extends 'users/profile_base.html' %}
{% load static %}
{% load i18n %}
{% block main_section %}
  <section class="companies-section">
    <h2>Invite to company</h2>
    <form class="change-user-form" method="post">
      <div class="row">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="alert alert-danger">{{ form.non_field_errors }}</div>
        {% endif %}
        {{ form.as_p }}
        <p>
          <button type="submit" class="btn btn-dark">Invite user!</button>
        </p>
      </div>
    </form>
  </section>
{% endblock %}
