{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
<div class="profile-content">
    <div class="side-menu">
        {% with request.resolver_match.view_name as view_name %}
            <h2>{% trans "Account" %}</h1>
            <ul>
                <li>
                    <a href="{% url "users:profile" %}" class="{% if view_name == 'users:profile' %}active{% endif %}">
                        <span class="item">{% trans "Profile" %}</span>
                    </a>
                </li>
                <li>
                    <a href="{% url "users:companies" %}" class="{% if view_name == 'users:companies' %}active{% endif %}">
                        <span class="item">{% trans "My Companies" %}</span>
                    </a>
                </li>
                <li>
                    <a href="{% url "users:invites" %}" class="{% if view_name == 'users:invites' %}active{% endif %}">
                        <span class="item">{% trans "My Invites" %}</span>
                    </a>
                </li>
            </ul>
        {% endwith %}
    </div>
    <div class="main-frame-profile">
        {% block main_section %}{% endblock main_section %}
    </div>
</div>
{% endblock  %}

