{% extends "users/profile_base.html" %}
{% load static %}
{% load i18n %}
{% block main_section %}
    <section class="companies-section">
        <h2>{% trans "My Companies" %}</h1>
        <div class="row">
            {% for company in companies %}
              <div class="col-12 mb-3">
                <a href="{% url 'workplace:home' company_id=company.id %}">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{company.name}}</h5>
                      <p class="card-text">{{company.description|truncatewords_html:20}}</p>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}
            <div>
              <a class="btn" href="{% url "users:create_company" %}">{% trans "Add Company" %}</a>
            </div>
          </div>
    </section>
{% endblock main_section %}
