{% extends "users/profile_base.html" %}
{% load static %}
{% load i18n %}
{% block main_section %}
    <section class="task-section">
        <h2>{% trans "Profile" %}</h1>
        <div class="justify-content-center">
            <form class="change-user-form" method="post" enctype="multipart/form-data">
                <div class="row">
                    {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}
                <div class="col-md-3 profile-settings-image">
                    <div>
                        <img src="{{ request.user.get_image_250x250.url }}" alt="User Image">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="profile-data">
                        <div>
                            <p>
                                {{ form.first_name.errors }}
                                <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}:</label>
                                {{ form.first_name }}
                            </p>
                        </div>
                        <div>
                            <p>
                                {{ form.last_name.errors }}
                                <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}:</label>
                                {{ form.last_name }}
                            </p>
                        </div>
                        <div>
                            <p>
                                {{ form.email.errors }}
                                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>
                                {{ form.email }}
                            </p>
                        </div>
                        <p>
                            {{ form.image.errors }}
                            {{ form.image }}
                        </p>
                        <p>
                            <button class="btn" type="submit">Сохранить изменения</button>
                        </p>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </section>
{% endblock main_section %}
