{% extends "users/profile_base.html" %}
{% load static %}
{% load i18n %}
{% block main_section %}
    <section class="task-section">
        <h1>Компании</h1>
        {% comment %} {{ companies }} {% endcomment %}
        <div class="row">
            <!-- Карточка компании 1 -->
            <div class="col-12 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Компания 1</h5>
                  <p class="card-text">Описание компании 1.</p>
                </div>
              </div>
            </div>
            
            <!-- Карточка компании 2 -->
            <div class="col-12 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Компания 2</h5>
                  <p class="card-text">Описание компании 2.</p>
                </div>
              </div>
            </div>
            
            <!-- Карточка компании 3 -->
            <div class="col-12 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Компания 3</h5>
                  <p class="card-text">Описание компании 3.</p>
                </div>
              </div>
            </div>
            <!-- Добавьте дополнительные карточки по необходимости -->
          </div>
          <div>
            <a class="btn" href="{% url "users:create_company" %}">Добавить компанию</a>
          </div>
    </section>
{% endblock main_section %}
