{% extends "workplace/settings/base_settings.html" %}

{% load i18n %}

{% block page_content %}
  <div class="form-container mx-4">
    <form method="post">
    {% csrf_token %}
      {{form.as_p}}
      <button type="submit" class="btn btn-primary">{% trans "Edit Company Info" %}</button>
    </form>
    {% for message in messages %}
      <div class="alert alert-success mt-3">{{message}}</div>
    {% endfor %}
    {% comment %} MUST BE PUT ON PROPER PLACES when frontend {% endcomment %}
    {{form.errors}}
    {% comment %} MUST BE PUT ON PROPER PLACES when frontend {% endcomment %}
  </div>  
{% endblock page_content %}
