{% load i18n %}

<div class="card mb-3">
  <div class="card-body d-flex align-items-end">
    <div class="col">
      <h5 class="card-title">{% if not title_hidden %}{{ task.title }}{% endif %}</h5>  
      <p class="card-text"><strong>{% trans "Description" %}:</strong> 
        {% if task.description|length == 0 %}<em>No description provided</em>{% else %}{{ task.description }}{% endif %}
      </p>
      <h6>{% trans "Author" %}</h6>
      <p class="card-text"><strong>{% trans "name" %}:</strong> {{ task.author.user.last_name }} {{ task.author.user.first_name }}</p>
      <p class="card-text"><strong>{% trans "email" %}:</strong> {{ task.author.user.email }}</p>
      {% if task.review_responsible != None %}
        {% trans "Reviewer" %}
        <p class="card-text"><strong>{% trans "name" %}:</strong> 
          {{ task.review_responsible.user.last_name }} {{ task.review_responsible.user.first_name }}
        </p>
        <p class="card-text"><strong>{% trans "email" %}:</strong> {{ task.review_responsible.user.email }}</p>
      {% endif %}
      <p class="card-text"><strong>{% trans "Deadline" %}:</strong> {{ task.deadline }}</p>
      {% if task.status == "rejected" %}
        <p class="card-text"><strong>{% trans "Reject message" %}:</strong> {{ task.review.message }}</p>
      {% endif %}
    </div>
    
    {% if manipulation_allowed %}
      <div class="col-2 text-end ">
        <button class="btn btn-primary" id="manipulateButton" data-bs-toggle="modal" data-bs-target="#manipWindowActive">
            <i class="fas fa-cogs"></i>
        </button>
      </div>
    {% endif %}
  </div>
</div>

{% if manipulation_allowed %}
  <div class="modal fade" id="manipWindowActive" tabindex="-1" aria-labelledby="taskInfoModalLabel{{ task.id }}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="taskInfoModalLabel{{ task.id }}">{% trans "What to do with the task?" %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div role="group" aria-label="Task Actions">
            {% if task.status != "active"%}
              <button type="button" class="btn btn-primary change-status-btn" data-task-id="{{ task.id }}" data-new-status="active">{% trans "Activate Task" %}</button>
            {% else %}
              <button type="button" class="btn btn-primary change-status-btn" data-task-id="{{ task.id }}" data-new-status="postponed">{% trans "Postpone" %}</button>
              {% if task.review_responsible == None %}
                <button type="button" class="btn btn-primary change-status-btn" data-task-id="{{ task.id }}" data-new-status="completed">{% trans "Mark as completed" %}</button>
              {% else %}
                <button type="button" class="btn btn-primary change-status-btn" data-task-id="{{ task.id }}" data-new-status="review">{% trans "Send for Review" %}</button>
              {% endif %}
              
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
